<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoap" />
                <binding name="WebService1Soap" />
                <binding name="ERP2_WebServiceSoap" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50780/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceSoap" contract="ServiceReference.WebServiceSoap"
                name="WebServiceSoap" />
            <endpoint address="http://localhost:50414/ERP1_WebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
                contract="WebServiceClientERP1.WebService1Soap" name="WebService1Soap" />
            <endpoint address="http://localhost:50414/ERP2_WebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ERP2_WebServiceSoap"
                contract="WebServiceClient.ERP2_WebServiceSoap" name="ERP2_WebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>